@import url(https://fonts.googleapis.com/css?family=Dosis:400,700);

body {
    margin: 0;
}

/* ==========================================================================
  Header
========================================================================== */

.header {
    position: relative;
}
.header__logo {
    position: absolute;
    left: 95px;

    width: 168px;
    height: 127px;
}
.header__upper-line {

    padding: 19px 95px;
    background-color: #2e3641;
    text-align: right;

    color: white;
    text-transform: uppercase;
    font-weight: bold;

    font-family: 'Dosis', sans-serif;
}

.header__address {
    position: relative;
    margin: 0 14px 0 15px;
    padding: 0 15px 0 20px;
    border-right: solid 1px grey;
}

.header__address::before {
    content: url('../imgs/header_icn1.png');
    position: absolute;
    left: 0;
    top: 0;
}

.header__phone {
    position: relative;
    padding-left: 25px;
    white-space: nowrap;
}

.header__phone::before {
    content: url('../imgs/header_icn2.png');
    position: absolute;
    left: 0;
    top: 0;
}


.header__navigation {
    padding: 14px 95px;
    background-color: #005da9;
    text-align: right;
}

.header__nav-tab {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    margin-left: 20px;
}

.header__btn {
    padding: 10px;

    color: white;
    background-color: #ffb202;
    border: none;
    outline: none;

    color: white;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 1070px) {
    .header__logo {
        display: none;
    }
    .header__upper-line, .header__navigation {
        text-align: center;
    }
}

@media (max-width: 825px) {
    .header__address {
        border: none;
    }
    .header__upper-line, .header__navigation {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 500px) {
    .header__btn {
        margin-bottom: 15px;
    }

    .header__nav-tab, .header__address, .header__phone {
        display: block;
    }

    .header__address::before, .header__phone::before {
        display: none;
    }

    .header__nav-tab:hover {
        color: #005da9;
        background-color: white;
    }
}

/* ==========================================================================
  Banner
========================================================================== */

.banner {
    position: relative;
    padding-bottom: 400px;
    background-image: url("../imgs/slider_bg.jpg");
    background-size: cover;
}

.banner__text {
    position: absolute;
    right: 75px;
    top: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 2.5em;
    padding: 30px;
    background-color: rgba(235, 227, 219, 0.8);
    white-space: nowrap;
}

.banner__text::before {
    content: url("../imgs/slider_icn01.png");
    padding-right: 25px;
    margin-right: 25px;
    border-right: solid 1px white;
}

@media (max-width: 500px) {
    .banner {
        padding-bottom: 300px;
    }
    .banner__text {
        right: 0;
    }
}

@media (max-width: 420px) {
    .banner {
        padding-bottom: 200px;
    }
    .banner__text::before {
        display: none;
        font-size: 2em;
    }
}


/* ==========================================================================
  Middle
========================================================================== */

.middle {
    background-image: url("../imgs/bg_01.jpg");
    text-align: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

.middle__header {
    color: #696e72;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}

.middle__steps {
  -display: inline-block;
  margin: 0 auto;
}

.middle__steps::after {
  content: '';
  display: block;
  clear: both;
}

.middle__step {
    width: 400px;
    height: 200px;
    float: left;
    margin: 10px;
    color: white;
}

.middle__step-header {
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

@media (max-width: 400px) {
    .middle__step {
        width: 300px;
    }
}

/* ==========================================================================
  Santa Clara
========================================================================== */

.santa-clara {
    background-image: url("../imgs/bg_02.jpg");
    padding: 50px 0;
    text-align: center;
}

.santa-clara__header {
    color: #00abeb;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
    font-size: 2em;
}

/* ==========================================================================
  Additional
========================================================================== */

.additional {
    text-align: center;
    padding: 60px 0 110px 0;
    background-image: url("../imgs/bg_01.jpg");
}

.additional__item {
    padding: 20px;
    background-color: #00abeb;
    display: inline-block;

    margin-bottom: 45px;

    position: relative;
}

.additional__item-name {
    text-align: left;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
}

.additional__item-img {
    width: 585px;
    -height: 285px;
    display: block;
}

.additional__item-button {
    position: absolute;
    border: none;

    color: white;
    background: #15982b;
    text-transform: uppercase;

    left: 0;
    bottom: -40px;

    padding: 12px 15px;
}


@media (max-width: 630px) {
    .additional__item-img {
        width: 386px;
        -heigth: 188px;
    }
}

@media (max-width: 400px) {
    .additional__item {
        display: block;
    }
    .additional__item-img {
        width: 300px;
    }
    .additional__item-button {
        width: 100%;
    }
}

/* ==========================================================================
  Bottom
========================================================================== */

.bottom {
  background-color: #24272d;
  padding: 25px 95px 20px 95px;
  white-space: nowrap;
  text-align: center;
}

.bottom::after {
    content: '';
    display: block;
    clear: both;
}

.bottom__item {
    display: inline-block;
    float: left;
    margin-right: 60px;
    text-align: center;
}

.bottom__item:last-of-type {
    float: right;
    margin-right: 0;
}

.bottom__item:first-of-type {
    text-align: left;
}

.bottom__item:last-of-type {
    -text-align: right;
}

.bottom__item_ul {
    padding: 0;
    list-style: none;
}

.bottom__item-li {
    color: #898a8c;
}

.bottom__item-name {
    color: #bfbfbf;
}

.bottom__item-button {
    background-color: white;
    font-weight: bold;
    color: #5b6274;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

.bottom__item-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.bottom__item-network {
    color: #dbdbdb;
    font-size: 2em;
}

@media (max-width: 1270px) {
    .bottom {
        padding: 10px;
    }
    .bottom__item {
        display: block;
        float: none;
      margin: 0;
    }

    .bottom__item:first-of-type, .bottom__item:last-of-type {
      text-align: center;
      display: block;
      float: none;
    }
}


/* ==========================================================================
  Footer
========================================================================== */

.footer {
  background-color: #2b2e35;
  padding: 25px 5px 25px 95px;
}

.footer:after {
  content: '';
  display: block;
  clear: both;
}

.footer__bot-item {
  color: #686b75;
  font-size: .9em;
  margin-top: 13px;
  display: inline-block;
}

.footer__copyright {
  margin-right: 25px;
}

.footer__bot-link {
  text-decoration: none;
  padding: 0 15px;
  border-right: solid 1px #686b75;
}

.footer__bot-link:last-of-type {
  border-right: none;
}

.footer__authors {
  float: right;
  width: 240px;
  text-align: center;
}

.footer__author-pre-name {
  color: #686b75;
}

.footer__author-name {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

@media (max-width: 1150px) {
  .footer {
    text-align: center;
  }
  .footer__copyright {
    display: block;
  }
  .footer__authors {
    margin: 0 auto;
    float: none;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 25px 5px;
  }
  .footer__bot-link {
    display: block;
    border-right: none;
  }
}

/* ==========================================================================
  Other Styles
========================================================================== */

.bg_dark-blue {
    background-color: #035293;
}
.bg_blue {
    background-color: #00b1dd;
}
.bg_orange {
    background-color: #ffb202;
}